.score {
  margin: 35px;
  text-align: center;
  width: 100%;
  color: rgb(0, 162, 255);
  letter-spacing: 2px;
  padding-top: 20px;
}

.message {
  text-align: center;
  width: 100%;
  color: rgb(255, 72, 0);
}
.cards {
  width: 100%;
}